<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title><Table> Responsive</title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
<h1><i class="fas fa-scroll"></i> Pending Applications</h1>
<table class="container">
	<thead>
		<tr>
			<th>ID</th>
      <th>Name</th>
      <th>From</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Class</th>
      <th>DOB</th>
      <th>Age</th>
      <th>Year</th>
      <th>Dept.</th>
      <th>Date</th>
      <th>Status</th>
      <th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
      <td class="pending">60004170010</td>
      <td>Aniket Ashutosh Shahane</td>
      <td>Kings Circle</td>
      <td>BB/101, kalpak estate, Dadar, Mumbai, India</td>
      <td>9998989898</td>
      <td>First</td>
      <td>03/01/2000</td>
      <td>20</td>
      <td>SE</td>
      <td>Computer Engineering</td>
      <td>2019/02/10</td>
      <td>Waiting</td>
		</tr>
    <tr>
      <td class="pending">60004170010</td>
      <td>Aniket Ashutosh Shahane</td>
      <td>Kings Circle</td>
      <td>BB/101, kalpak estate, Dadar, Mumbai, India</td>
      <td>9998989898</td>
      <td>First</td>
      <td>03/01/2000</td>
      <td>20</td>
      <td>SE</td>
      <td>Computer Engineering</td>
      <td>2019/02/10</td>
      <td>Waiting</td>
		</tr>
    <tr>
      <td class="pending">60004170010</td>
      <td>Aniket Ashutosh Shahane</td>
      <td>Kings Circle</td>
      <td>BB/101, kalpak estate, Dadar, Mumbai, India</td>
      <td>9998989898</td>
      <td>First</td>
      <td>03/01/2000</td>
      <td>20</td>
      <td>SE</td>
      <td>Computer Engineering</td>
      <td>2019/02/10</td>
      <td>Waiting</td>
		</tr>
	</tbody>
</table>



</body>

</html>
